*{
    margin: 0px;
    padding: 0px;
    border: border box;
}
.grandfather{
    display: flex; 
    border: 2px dotted black;
    justify-content: center;


}
.father{
    margin: 10px;
    border: 2px dotted black;
    width: 40%;
    height: 400px;
}
.person{
    border: 2px dotted black ;
    display: flex;
    flex-direction: column;
    margin: 5px;
    display: flex;
    flex-direction: row;
    height: 360px;
}
.child1{
    border: 2px dotted black;
    margin: 5px;
    margin-top: 20px;
}
.child12{
    border: 2px dotted black;
    margin: 5px;
    margin-top: 20px;
}
.child3{
    border: 2px dotted black;
    margin: 5px;
    margin-top: 20px;
}
.uncle{
    width: 40%;
    border: 2px dotted black;
    margin: 10px;
    text-align: center;
}
.person1{
    border:1px dotted black;
    margin: 10px;
}
.person2{
    border:2px dotted black;
    margin: 5px;
}
.person3{
    border:1px dotted black;
    margin: 5px;
}
.child2{
    height: 170px;
    text-align: center;

}
#org{
    background-color: rgba(237, 79, 21, 0.874);
    border: 1px dotted black;
    margin: 5px;
    height: 30px;
    padding-top: 10px;
}
#blue{
    border: 1px dotted blue;
    color: blue;
    margin: 5px;
    height: 30px;
    padding-top: 10px;
}
#green{
    border: 1px dotted black;
    background-color: green;
    margin: 5px;
    height: 30px;
    padding-top: 10px;
}
#one{
    border: 1px dotted black;
    height: 30px;
    margin: 3px;
    text-align: center;
    padding-top: 8px;
}